<template name="tabs">

  {{> top}}
  <div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab-checkin" id="nav-checkin" role="tab" data-toggle="tab">Check in</a></li>
      <li role="presentation"><a href="#tab-chat" id="nav-chat" role="tab" data-toggle="tab">Chat{{>chatCounter}}</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-checkin">{{>checkIn}}</div>
      <div role="tabpanel" class="tab-pane" id="tab-chat">{{>chat}}</div>
    </div>

  </div>
</template>