.icon {
  vertical-align: text-middle;
  margin-right: 5px;
  pointer-events:none;
}

.time {
  color: gray;
  
}

.btn-person {
  border-color: #ccc;
  background-color: #eee;  
}

.btn-success {
  background-color: #5cb85c;
}

.panel-title {
  font-size: 20px;
}

.panel-heading {
  padding: 2px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.panel-body {
  padding: 4px;
}

.confirmation {
  color: green;
  margin-left: 10px;
}

.instructions {
  margin-bottom: 10px;
}

.chatMessages {
  line-height: 1.2em;
}

.chatMessagesSmall {
  height: 2.4em;  
  overflow: hidden;  
}

.chatMessagesLarge {
  height: 24em;  
  overflow: auto;
}

.chatSender {
  font-weight: bold;
}

.chatTime {
  font-size: 10px;
  color: gray;
}

.chatText {
  
}
