.icon {
  vertical-align: text-middle;
  margin-right: 5px;
  pointer-events:none;
}

.time {
  color: gray;
  
}

.btn-person {
  border-color: #ccc;
  background-color: #eee;  
}

.btn-success {
  background-color: #5cb85c;
}

.panel-title {
  font-size: 20px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}